<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simulator</title>
	<meta charset='utf-8'/>
	<link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content ="width-device-width, initial-scale=1.0"/>
</head>

<body class="content">
	<header class="header">
		<h1>Internal combustion engine</h1>
	</header>

	<div class="nav">
		<ul>
			<li class="active"><a href="/">Introduction</a></li>
			<li><a href="simulator/">Simulator</a></li>
			<li><a href="doc/">Documentation</a></li>
			<li><a href="about/">About</a></li>
		</ul>
	</div>
	<p>Sorry this page is still under construction</p>
	<footer class="footer">
		<p> copyright &copy; 2015</p>
	</footer>
</body>
</html>

