<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simulator</title>
	<meta charset='utf-8'/>
	<link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content ="width-device-width, initial-scale=1.0"/>
</head>

<body class="content">
	<header class="header">
		<h1>Spark Ignition Engine</h1>
	</header>

	<div class="nav">
		<ul>
			<li><a href="/">Introduction</a></li>
			<li class = "active"><a href="/">Simulator</a></li>
			<li><a href="/doc/">Documentation</a></li>
			<li><a href="/about/">About</a></li>
		</ul>
	</div>
		
	<form class="inputs" method="post" action="/simulator/">
		{% csrf_token %}
	<fieldset>
		<legend>Engine parameters</legend>
		<table>
		<tr>
			<td align="left">Compression ratio:</td>
			<td align="left">
				<input type="float" name="compression_ratio" value={{ compression_ratio }} min="10" max="20" step="0.5" size="1"/>
			</td>
		</tr>
		<tr>
			<td align="left">R.P.M:</td>
			<td align="left">
				<input type="float" name="e_rpm" value={{ e_rpm }} min="1500" max="2500" step="1" size="1"/>revs/m
			</td>
		</tr>
		<tr>
			<td align="left">Ignition start:</td>
			<td align="left">
				<input type="float" name="crank_angle_ignition" value={{ crank_angle_ignition }} min="-50" max="10" step="" size="1"/>deg
			</td>
		</tr>
		<tr>
			<td align="left">Burn duration:</td>
			<td align="left">
				<input type="float" name="burn_duration" value={{ burn_duration }} min="1" max="60" step="1" size="1"/>deg
			</td>
		</tr>
		<tr>
			<td align="left">Bore:</td>
			<td align="left">
				<input type="float" name="b" value={{ b }} min="50" max="200" step="1" size="1"/>mm
			</td>
		</tr>
		<tr>
			<td align="left">Stroke:</td>
			<td align="left">
				<input type="float" name="stroke" value={{ stroke }} min="50" max="100" step="1" size="1"/>mm
			</td>
		</tr>
		<tr>
			<td align="left">eps:</td>
			<td align="left">
				<input type="float" name="eps" value={{ eps }} min="0.2" max="0.3" step="0.01" size="1"/>
			</td>
		</tr>
		<tr>
			<td align="left">Blowby constant:</td>
			<td align="left">
				<input type="float" name="Cb" value={{ Cb }} min="0.5" max="1.0" step="0.1" size="1"/>s^-1
			</td>
		</tr>
		</table>
	</fieldset>

	<fieldset>
		<legend>Initial conditions</legend>
		<table>
		<tr>
			<td align="left">Equivalence ratio:</td>
			<td align="left">
				<input type="float" name="phi" value={{ phi }} min="0.4" max="1.4" step="0.1" size="1" />
			</td>
		</tr>
		<tr>
			<td align="left">Residual Burned Fraction:</td>
			<td align="left">
				<input type="float" name="xr" value={{ xr }} min="0" max="0.4" step="0.1" size="1"/>
			</td>
		</tr>
		<tr>
			<td align="left">Intake pressure:</td>
			<td align="left">
				<input type="float" name="P_int" value={{ P_int }} min="100" max="150" step="0.1" size="1"/>kPa
			</td>
		</tr>
		<tr>
			<td align="left">Intake temperature:</td>
			<td align="left">
				<input type="float" name="T1" value={{ T1 }} min="300" max="400" step="0.1" size="1"/>K
			</td>
		</tr>
		<tr>
			<td align="left">Exhaust pressure:</td>
			<td align="left">
				<input type="float" name="P_exh" value={{ P_exh }} min="150" max="200" step="0.1" size="1"/>kPa
			</td>
		</tr>
		<tr>
			<td align="left">Cylinder Wall temperature:</td>
			<td align="left">
				<input type="float" name="Tw" value={{ Tw }} min="400" max="500" step="0.1" size="1"/>K
			</td>
		</tr>
		</table>
	</fieldset>
		
	<fieldset>
		<legend>Simulation models</legend>
		<table>
		<tr>
			<td align="left">Airscheme:</td>
			<td align="left">
				<select name="air">
					<option value="GMcB">Gordon and McBride</option>	
					<option value="chemkin">Chemkin</option>	
				</select>
			</td>
		</tr>
		<tr>
			<td align="left">Fuel:</td>
			<td align="left">
				<select name="fuel">
					<option value="gasoline">Gasoline</option>	
					<option value="diesel">Diesel</option>
					<option value="isooctane">Isooctane</option>
					<option value="methanol">Methanol</option>	
				</select>
			</td>
		</tr>
		<tr>
			<td align="left">Heat transfer:</td>
			<td align="left">
				<select name="heat_transfer">
					<option value="constant">Constant</option>	
					<option value="woschni">Woschni</option>
				</select>
			</td>
		</tr>
		<tr>
			<td align="left">Mass fraction burned:</td>
			<td align="left">
				<select name="burn_model">
					<option value="cosine model">Cosine function</option>	
					<option value="wiebe model">Wiebe function</option>
					<option value="instant model">Instantaneous</option>	
				</select>
			</td>
		</tr>
		<tr>
			<td align="left">Dissociation:</td>
			<td align="left">
				<select name="dissociation_model">
					<option value="none">Simple</option>	
					<option value="full">Full</option>	
				</select>
			</td>
		</tr>
		</table>
	</fieldset>
	<input type="submit" name="run" value="Run">
	<input type="submit" name="default" value="Default settings"><br>
	{{ error_message }}
	</form>
	

	<div class="pics">
		{% load staticfiles %}
		<p><img src="{% static "images/p_v.png"%}"></p>
		<p><img src="{% static "images/pressure.png"%}"></p>
		<p><img src="{% static "images/temperature.png" %}"></p>
		<p><img src="{% static "images/heat.png" %}"></p>
		<p><img src="{% static "images/work.png" %}"></p>


	</div>

	<div class="outputs">
	<fieldset>
		<legend>Performance</legend>
		<table>

		<tr>
			<td align="left">Thermal efficiency:</td>
			<td align="left"></td>
		</tr>
		<tr>
			<td align="left">IMEP:</td>
			<td align="left">{{ imep }}kPa</td>
		</tr>
		<tr>
			<td align="left">Burned gas fraction:</td>
			<td align="left"></td>
		</tr>
		<tr>
			<td align="left">Specific fuel consumption:</td>
			<td align="left">{{ sfc }}kg/kWh</td>
		</tr>
		<tr>
			<td align="left">Power:</td>
			<td align="left">{{ power }}kW</td>
		</tr>
		<tr>
			<td align="left">Computing time:</td>
			<td align="left">{{ elapsed }}s</td>
		</tr>
		</table>
		</fieldset>
	</div>

	<footer class="footer">
		<p> copyright &copy; 2015</p>
	</footer>

</body>
</html>

