body {
    color: #000305;
    font-size: 80%;
    font-family: 'Lucida Sans Unicode';
    line-height: 1.5;
}

a:link, a:visited {
    color: #1A94D6;
}

a:hover, a:active {
    color: #797979;
}

.content {
	margin: 0 auto;
	width: 90%;
	clear: both;
}

.nav {
	background-color: #797979;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.nav ul {
	list-style: none;
	margin: 0;
}

.nav ul li {
	float: left;
	display: inline;
}

.nav a:link, .nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.nav .active a:link,
.nav .active a:visited,
.nav a:hover,
.nav a:active {
	background-color: #04BAE3;
	text-shadow:none;
}

.inputs {
	float: left;
	width: 33.3%;
	text-align: center;

}

.inputs fieldset table{
	margin-left: 20%
}

.pics {
	float: left;
	width: 33.3%;
	height: 700px;
	overflow: auto;

}

.pics p {
	float: center;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 0.5em;
}

.pics p img {
	width: 100%;
	
}

.outputs {
	float: left;
	width: 33.3%;
	text-align: left;
	

}

.footer {
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #797979;
}

.footer p {
	width: 92%;
	
	margin-bottom: 2%;
	margin-left: 2%;
	color: #FFF;
	
}
